streamlit
fpdf
Pillow
PyPDF2
qrcode
pypandoc
docx2pdf
rich
markdown-it-py
pygments
mdurl
firebase-admin
python-docx
python-pptx
pypdfium2   # optional: useful if you need alternate PDF tools

weasyprint 
reportlab 
mammoth
fonttools 
pillow

