altair

aspose_slides

attrs

blinker

cachetools

certifi

charset-normalizer

click

colorama

comtypes

defusedxml

docx2pdf

fonttools

fpdf2

gitdb

GitPython

idna

Jinja2

jsonschema

jsonschema-specifications

MarkupSafe

narwhals

numpy

packaging

pandas

pillow

plum-dispatch

pptxtopdf

protobuf

pyarrow

pybase64

pydeck

PyMuPDF

pypandoc

pypdf

PyPDF2

python-dateutil

pytz

pywin32

qrcode

referencing

requests

rpds-py

six

smmap

spire-presentation

streamlit

streamlit-drawable-canvas

subprocess.run

tempfile312

tenacity

tk

toml

tornado

tqdm

typing_extensions

tzdata

urllib3

watchdog
