altair==5.5.0
aspose_slides==25.7.0
attrs==25.3.0
blinker==1.9.0
cachetools==6.1.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
comtypes==1.4.11
defusedxml==0.7.1
docx2pdf==0.1.8
fonttools==4.59.0
fpdf2==2.8.4
gitdb==4.0.12
GitPython==3.1.45
idna==3.10
Jinja2==3.1.6
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
MarkupSafe==3.0.2
narwhals==2.1.1
numpy==2.3.2
packaging==25.0
pandas==2.3.1
pillow==11.3.0
plum-dispatch==1.7.4
pptxtopdf==0.0.2
protobuf==6.31.1
pyarrow==21.0.0
pybase64==1.4.2
pydeck==0.9.1
PyMuPDF==1.26.3
pypandoc==1.15
pypdf==6.0.0
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32==311
qrcode==8.2
referencing==0.36.2
requests==2.32.4
rpds-py==0.27.0
six==1.17.0
smmap==5.0.2
spire-presentation==10.7.1
streamlit==1.48.0
streamlit-drawable-canvas==0.9.3
subprocess.run==0.0.8
tempfile312==1.0.1
tenacity==9.1.2
tk==0.1.0
toml==0.10.2
tornado==6.5.2
tqdm==4.67.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
watchdog==6.0.0
